<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.AddressBookMapper">
    <update id="update" parameterType="AddressBook">
        update address_book
        <set>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="consignee != null and consignee != ''">consignee = #{consignee},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="provinceCode != null">province_code = #{provinceCode},</if>
            <if test="provinceName != null and provinceName != ''">province_name = #{provinceName},</if>
            <if test="cityCode != null">city_code = #{cityCode},</if>
            <if test="cityName != null and cityName != ''">city_name = #{cityName},</if>
            <if test="districtCode != null">district_code = #{districtCode},</if>
            <if test="districtName != null and districtName != ''">district_name = #{districtName},</if>
            <if test="detail != null and detail != ''">detail = #{detail},</if>
            <if test="label != null and label != ''">label = #{label},</if>
            <if test="isDefault != null">is_default = #{isDefault},</if>
        </set>
        where id = #{id}
    </update>

    <select id="list" parameterType="AddressBook" resultType="com.sky.entity.AddressBook">
        select * from address_book
        <where>
            <if test="userId != null">and user_id = #{userId}</if>
            <if test="consignee != null and consignee != ''">and consignee = #{consignee}</if>
            <if test="phone != null">and phone = #{phone}</if>
            <if test="sex != null">and sex = #{sex}</if>
            <if test="provinceCode != null">and province_code = #{provinceCode}</if>
            <if test="provinceName != null and provinceName != ''">and province_name = #{provinceName}</if>
            <if test="cityCode != null">and city_code = #{cityCode}</if>
            <if test="cityName != null and cityName != ''">and city_name = #{cityName}</if>
            <if test="districtCode != null">and district_code = #{districtCode}</if>
            <if test="districtName != null and districtName != ''">and district_name = #{districtName}</if>
            <if test="detail != null and detail != ''">and detail = #{detail}</if>
            <if test="label != null and label != ''">and label = #{label}</if>
            <if test="isDefault != null">and is_default = #{isDefault}</if>
        </where>
    </select>
    <select id="selectAddressBook" parameterType="AddressBook" resultType="com.sky.entity.AddressBook">
        select * from address_book
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="userId != null">and user_id = #{userId}</if>
            <if test="consignee != null and consignee != ''">and consignee = #{consignee}</if>
            <if test="phone != null">and phone = #{phone}</if>
            <if test="sex != null">and sex = #{sex}</if>
            <if test="provinceCode != null">and province_code = #{provinceCode}</if>
            <if test="provinceName != null and provinceName != ''">and province_name = #{provinceName}</if>
            <if test="cityCode != null">and city_code = #{cityCode}</if>
            <if test="cityName != null and cityName != ''">and city_name = #{cityName}</if>
            <if test="districtCode != null">and district_code = #{districtCode}</if>
            <if test="districtName != null and districtName != ''">and district_name = #{districtName}</if>
            <if test="detail != null and detail != ''">and detail = #{detail}</if>
            <if test="label != null and label != ''">and label = #{label}</if>
            <if test="isDefault != null">and is_default = #{isDefault}</if>
        </where>
    </select>
</mapper>
