<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetMealMapper">
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into set_meal
            (category_id, name, price, status, description, image, create_time, update_time, create_user, update_user)
        values
            (#{categoryId}, #{name}, #{price}, #{status}, #{description}, #{image}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>
    <update id="update" parameterType="SetMeal">
        update set_meal
        <set>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="name != null and name !=''">name = #{name},</if>
            <if test="price != null">price = #{price},</if>
            <if test="status != null">status = #{status},</if>
            <if test="description != null">description = #{description},</if>
            <if test="image != null">image = #{image},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
        </set>
    </update>
    <delete id="deleteBatch">
        delete from set_meal where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="queryWithCategoryName" resultType="com.sky.vo.SetMealVO">
        select s.*, c.name as category_name from set_meal s left join category c
        on s.category_id = c.id
        <where>
            <if test="categoryId != null">and s.category_id = #{categoryId},</if>
            <if test="name != null and name != ''">and s.name like concat('%', #{name}, '%'),</if>
            <if test="status != null">and s.status = #{status},</if>
        </where>
        order by s.create_time desc
    </select>
    <select id="selectByIds" resultType="com.sky.entity.SetMeal">
        select * from set_meal where id in
       <foreach collection="ids" item="id" open="(" close=")" separator=",">
           #{id}
       </foreach>
    </select>

</mapper>
